[package]
name = "zk-spaced"
version = "1.0.0"
edition = "2021"

[dependencies]
anyhow = "1"
crossterm = "0"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
time = { version = "0.3", features = ["serde"] }
tui = "0.19"
xdg = "2"

[profile.release]
strip = "debuginfo"
lto = "fat"
